body {
    background: url("images/background_065.jpg");
}

.register-position {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    -23px 0 20px -23px rgba(0, 0, 0, 0.9),
    23px 0 20px -23px rgba(0, 0, 0, 0.9),
    inset 0 0 40px rgba(0, 0, 0, 0.1);
}
.register-position h1 {
    margin: 30px 100px;
    padding: 0;
    text-align: center;
    color: #000000;
    font-size: 30px;
    text-transform: none;
    font-style: italic;
}

.input-form {
    margin: 15px 40px;
    text-align: center;
}
.input-form input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: rgba(255,255,255, .5);
    border: 1px solid #778899;
}
.input-form input[type="text"]:focus, .input-form input[type="password"]:focus {
    border: 3px solid #4169e1;
}
.input-form input[type="submit"] {
    width: 55%;
    border: none;
    font-weight: bold;
    background: rgb(117, 187, 253);
    transition: .3s;
}
.input-form input[type="submit"]:hover {
    background: rgba(117, 187, 253, .5);
}
.link {
    text-align: center;
    color: black;
    text-decoration: none;
    display: block;
    padding-bottom: 30px;
}
.link:hover {
    color: rgba(0, 0, 0, .5);
}
